<html ng-app="EncountersApp">
    <head>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
        <script type="text/javascript" src="js/main.js"></script>
        <script type="text/javascript" src="js/data-manager.js"></script>
        <script type="text/javascript" src="js/filters.js"></script>
        <script type="text/javascript" src="js/encounter.js"></script>
        <script type="text/javascript" src="js/adventurer-crud.js"></script>
        <script type="text/javascript" src="js/monster-crud.js"></script>
        
        <script type="text/ng-template" id="html/encounter.html">
            <div class="encounter-container">
                <div class="participants-container encounter-section">
                    <strong class="encounter-heading">Participants</strong>
                    <button type="button" ng-click="toggleParticipantLock()">{{participantLock ? 'Unlock' : 'Lock'}}</button>
                    <div class="split-container">
                        <div class="left">
                            <span>Party</span>
                            <div>
                                <button ng-click="addToParty(TYPES.ADVENTURER)" ng-disabled="participantLock">Add Adventurer</button>
                                <button ng-click="addToParty(TYPES.MONSTER)" ng-disabled="participantLock">Add Monster</button>
                            </div>
                            <div ng-repeat="participant in encounter.participants" ng-if="participant.group === GROUPS.PARTY">
                                <button ng-click="removeParticipant(participant)" ng-disabled="participantLock">Delete</button>
                                <span ng-if="participant.type === TYPES.ADVENTURER">
                                    <select ng-disabled="participantLock" ng-model="encounter.participants[participant.id].refId" ng-options="id as adventurer.name for (id, adventurer) in getAdventurers()"></select>
                                    <input ng-disabled="participantLock" type="number" title="initiative" ng-model="encounter.participants[participant.id].initiative"/>
                                </span>
                                <span ng-if="participant.type === TYPES.MONSTER">
                                    <select ng-disabled="participantLock" ng-model="encounter.participants[participant.id].refId" ng-options="id as monster.name for (id, monster) in getMonsters()"></select>
                                    &#215;
                                    <input ng-disabled="participantLock" type="number" title="count" ng-model="encounter.participants[participant.id].count" ng-change="initCombat(participant)"/>
                                </span>
                            </div>
                        </div>
                        <div class="right">
                            <span>Enemies</span>
                            <div>
                                <button ng-click="addToEnemies(TYPES.ADVENTURER)" ng-disabled="participantLock">Add Adventurer</button>
                                <button ng-click="addToEnemies(TYPES.MONSTER)" ng-disabled="participantLock">Add Monster</button>
                            </div>
                            <div ng-repeat="participant in encounter.participants" ng-if="participant.group === GROUPS.ENEMY">
                                <button ng-click="removeParticipant(participant)" ng-disabled="participantLock">Delete</button>
                                <span ng-if="participant.type === TYPES.ADVENTURER">
                                    <select ng-disabled="participantLock" ng-model="encounter.participants[participant.id].refId" ng-options="id as adventurer.name for (id, adventurer) in getAdventurers()"></select>
                                    <input ng-disabled="participantLock" type="number" title="initiative" ng-model="encounter.participants[participant.id].initiative"/>
                                </span>
                                <span ng-if="participant.type === TYPES.MONSTER">
                                    <select ng-disabled="participantLock" ng-model="encounter.participants[participant.id].refId" ng-options="id as monster.name for (id, monster) in getMonsters()"></select>
                                    &#215;
                                    <input ng-disabled="participantLock" type="number" title="count" ng-model="encounter.participants[participant.id].count" ng-change="initCombat(participant)"/>
                                </span>
                            </div>
                        </div>
                        <div class="clear"></div>
                    </div>
                </div>
                <br/>
                <div class="turn-order-container encounter-section">
                    <strong class="encounter-heading">Turn Order</strong>
                    <button type="button" ng-click="calculateTurnOrder()" ng-disabled="!participantLock">Calculate Turn Order</button>
                    <div ng-repeat="(order, participant) in encounter.turnOrder">
                        <button type="button" ng-click="moveUp(order)" ng-disabled="$first">Up</button>
                        <button type="button" ng-click="moveDown(order)" ng-disabled="$last">Down</button>
                        <input type="radio" ng-value="participant.id" ng-model="selectedParticipant" name="participants"/>
                        <span ng-class="{'party-member': participant.group === GROUPS.PARTY}" ng-if="participant.type === TYPES.ADVENTURER">{{getAdventurers()[participant.refId].name}}</span>
                        <span ng-class="{'party-member': participant.group === GROUPS.PARTY}" ng-if="participant.type === TYPES.MONSTER">{{getMonsters()[participant.refId].name}}</span>
                    </div>
                </div>
                <br/>
                <div class="combat-container encounter-section">
                    <strong class="encounter-heading">Combat</strong>
                    <div ng-repeat="participant in encounter.participants" ng-if="participant.group === GROUPS.ENEMY && participantLock">
                        <div ng-if="participant.type === TYPES.MONSTER" ng-repeat="count in participant.count | getRange">
                            <span>{{getMonsters()[participant.refId].name}}</span>
                            <input type="text" title="description" ng-model="encounter.combat[participant.id][$index].description" ng-disabled="encounter.combat[participant.id][$index].isDead"/>
                            <input type="number" title="hp" ng-model="encounter.combat[participant.id][$index].hp" ng-disabled="encounter.combat[participant.id][$index].isDead"/>
                            <button type="button" ng-click="slay(participant, $index)" ng-disabled="encounter.combat[participant.id][$index].isDead">Slay</button>
                        </div>
                        <div ng-if="participant.type === TYPES.ADVENTURER">
                            <span>{{getAdventurers()[participant.refId].name}}</span>
                        </div>
                    </div>
                </div>
                <div class="combat-container encounter-section">
                    <strong class="encounter-heading">Rewards</strong>
                    <div>
                        <span>XP: {{encounter.rewards.xp}}</span>
                    </div>
                </div>
            </div>
        </script>
        
        <script type="text/ng-template" id="html/adventure-crud.html">
            <div class="adventurer-crud split-container">
                <div class="left">
                    <ul>
                        <li ng-click="selectAdventurer(baseAdventurer)" ng-class="{'selected-adventurer': baseAdventurer === selectedAdventurer}">
                            New
                        </li>
                        <li ng-repeat="adventurer in getAdventurers()" ng-click="selectAdventurer(adventurer)" ng-class="{'selected-adventurer': adventurer === selectedAdventurer}">
                            {{adventurer.name}}
                        </li>
                    </ul>
                </div>
                <div class="right">
                    <form ng-submit="save()">
                        <strong>
                            <span ng-if="mode === MODES.CREATE">Create</span>
                            <span ng-if="mode === MODES.UPDATE">Edit</span>
                            Adventurer
                        </strong>
                        <label>Name</label>
                        <input type="text" ng-model="data.name"/>
                        <br/>
                        <button type="button" ng-click="cancel()">Cancel</button>
                        <button type="submit">Save</button>
                    </form>
                </div>
                <div class="clear"></div>
            </div>
        </script>
        
        <script type="text/ng-template" id="html/monster-crud.html">
            <div class="monster-crud split-container">
                <div class="left">
                    <ul>
                        <li ng-click="selectMonster(baseMonster)" ng-class="{'selected-monster': baseMonster === selectedMonster}">
                            New
                        </li>
                        <li ng-repeat="monster in getMonsters()" ng-click="selectMonster(monster)" ng-class="{'selected-monster': monster === selectedMonster}">
                            {{monster.name}}
                        </li>
                    </ul>
                </div>
                <div class="right">
                    <form ng-submit="save()">
                        <strong>
                            <span ng-if="mode === MODES.CREATE">Create</span>
                            <span ng-if="mode === MODES.UPDATE">Edit</span>
                            Monster
                        </strong>
                        <label>Name</label>
                        <input type="text" ng-model="data.name"/>
                        <label>AC</label>
                        <input type="number" ng-model="data.ac"/>
                        <label>HP</label>
                        <input type="number" ng-model="data.hp"/>
                        <label>XP</label>
                        <input type="number" ng-model="data.xp"/>
                        <br/>
                        <button type="button" ng-click="cancel()">Cancel</button>
                        <button type="submit">Save</button>
                    </form>
                </div>
                <div class="clear"></div>
            </div>
        </script>
        
        <link type="text/css" rel="stylesheet" href="css/main.css">
    </head>

    <body>
        <div id="monsters" class="crud-container">
            <h2>Monsters</h2>
            <button ng-click="monstersContainer = !monstersContainer">{{ monstersContainer ? 'Less' : 'More' }}</button>
            <monster-crud ng-if="monstersContainer"></monster-crud>
        </div>
        
        <div id="adventurers" class="crud-container">
            <h2>Adventurers</h2>
            <button ng-click="adventurersContainer = !adventurersContainer">{{ adventurersContainer ? 'Less' : 'More' }}</button>
            <adventurer-crud ng-if="adventurersContainer"></adventurer-crud>
        </div>
        
        <div id="sessions" class="crud-container">
            <h2>Sessions</h2>
            <select ng-model="selectedSession" ng-options="id as id for (id, session) in sessions"></select>
        </div>
        
        <div id="header">
            <h1>Session Encounters</h1>
            <input type="text" ng-model="sessionId"/>
            <button ng-click="createEncounter()">add encounter</button>
        </div>
        
        <ul id="encounters">
            <li ng-repeat="encounter in getEncounters()">
                <h2>Encounter {{$index + 1}}</h2>
                &nbsp;
                <button ng-click="removeEncounter(encounter)">remove encounter</button>
                <encounter ng-model="encounter"></encounter>
            </li>
        </ul>
    </body>
</html>